# Virtual Environments
.venv/
venv

# Large data files
ghcn_data/checkpoints/
ghcn_data/metadata/
ghcn_data/processed/
ghcn_data/raw/
ghcn_data/staging/

# Local setup files
setup_api.py

# html plots
ghcn_data/africa_ghcn_analysis_plots/01_africa_station_map.html
ghcn_data/africa_ghcn_analysis_plots_1/01_africa_station_map.html